.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.authLayout {
  flex-direction: row;
}

.dashboardLayout {
  justify-content: center;
  align-items: center;
}

.right {
  flex-grow: 1;
  padding: 20px;
}

@media (max-width: 768px) {

  .authLayout {
    flex-direction: column;
  }

  .container {
    overflow-y: auto;
  }

  .authLayout .leftSection {
    display: none;
  }
}