.container {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #17A2B8;
    color: #FFFFFF;
    overflow: hidden;
    text-align: center;
}

.alienBack {
    width: 15vw;
    height: 30vh;
    position: absolute;
    top: 31vh;
    left: 22vw;
}

.alien {
    width: 12vw;
    height: 30vh;
    position: absolute;
    top: 37vh;
    left: 23vw;
}

.welcome {
    font-size: 2rem;
    margin: 0px 0;
    position: absolute;
    top: 69vh;
}

.subtitle {
    font-size: 1rem;
    font-weight: 300;
    margin: 5px 0;
    position: absolute;
    top: 73.5vh;
}

@media (max-width: 768px) {
    .alienBack {
        width: 25vw;
        height: 25vh;
        top: 30vh;
        left: 15vw;
    }

    .alien {
        width: 20vw;
        height: 25vh;
        top: 35vh;
        left: 17vw;
    }

    .welcome {
        font-size: 1.8rem;
        position: absolute;
        top: 62.5vh;
    }

    .subtitle {
        font-size: 0.9rem;
        position: absolute;
        top: 67vh;
    }
}

@media (max-width: 480px) {
    .alienBack {
        width: 35vw;
        height: 20vh;
        top: 25vh;
        left: 10vw;
    }

    .alien {
        width: 30vw;
        height: 20vh;
        top: 30vh;
        left: 12vw;
    }

    .welcome {
        font-size: 1.5rem;
        position: absolute;
        top: 60vh;
    }

    .subtitle {
        font-size: 0.8rem;
        position: absolute;
        top: 69vh;
    }
}
